/*===== FAQ custom scss =====*/
#faq-page{
  h1{
    padding: 2em 0 0.5em 0;
  }
  h2{
    font-size: 1.3125em;
    font-weight: 600;
  }
  .card{
    margin-bottom: 3em;
    border: none;
    border-radius: 16px;
    .card-body{
      padding: 1em 1.5em 1.5em 1.5em;
      .accordion{
        .accordion-item{
          .accordion-button{
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            background-color: inherit;
            &::after{
              background-image: url(../../../../images/chevron.svg) ;
              background-size: 0.8rem;
              background-position: center;
            }
          }
          .accordion-body{
            font-size: 0.875em;
            line-height: 1.375em;
          }
        }
      }
    }
  }

  /* Mobile Only */
  @media (max-width: 992px) {
    h1{
      font-size: 1.625em;
      font-weight: 300;
    }
    h2{
      font-size: 1.3125em;
    }
    h3{
      font-size: 0.875em;
    }
    .card{
      margin-bottom: 2em;
      .card-body{
        padding: 1em;
        .accordion{
          .accordion-body{
            font-size: 0.75em;
          }
        }
      }
    }
  }

}
